.cardDiv{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 20px;
    justify-content: center; 
    margin: 20px auto; 
}

.Cards{
    flex: 1 1 300px; 
    max-width: 400px;
    min-width: 50px;
    height: 500px;
    box-sizing: border-box;
}

.Img{
    width: auto;
    height: 100%;
    max-height: 420px;
    overflow: hidden;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 1s ease;
}
.Img img:hover{
    overflow:clip;
    transform: scale(1.1);
}
.Img button{
    position: absolute;
    bottom: 50px;
    left: 30%;
    width: 150px;
    height: 45px;
    border-radius: 25px;
    border: none;

}
.Img button:hover{
    background-color: black;
    color: white;
    transition: all 0.5s;
    cursor: pointer;

}

.CardsTxt{
margin: 0;
align-items: center;
}
.CardsTxt p{
margin-top: 10px;
color: #666;
}
.CardsTxt a{
color: #999;
text-decoration: none;
}
.CardsTxt a:hover{
color: #717FE0;
transition: all 0.5s;
}

.description{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 10px 15px 10px 0;
}

.description button{
    background: transparent;
    border: none;
}
.description button:hover{
    cursor: pointer;
}

.loadMoreDiv{
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    align-items: center;
    justify-content:center ;
}
.loadMore{
    width: 250px;
    height: 45px;
    border-radius: 25px;
    border: none;
}
.loadMore:hover{
    background-color: black;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.popUp{
    position: fixed;
    display: flex;
    justify-self: center;
    z-index: 1;
    width: 60%;
    height: fit-content;
    left: 10%;
    right: 10%;
    bottom: 10px;
    visibility: hidden;
    background-size: cover;
    transform: translate(50%, 50%) scale(0.1);
    transition: transform 0.4s, bottom 0.4s;
    justify-content: center;
    align-items: center;
}
.popUp.bg{

}
.popUp p{
    /* background-color: white; */
    width: fit-content;
    color: white;
}
.NnP{
    display: flex;
    justify-content: space-between;
}
.imgPop{
    width: 500px;
}
.imgPop img{
    height: 600px;
}
.open-popUp{
    visibility: visible;
    transform: translate(0, 0) scale(1);
    bottom: 10px;
}
.closeButton{
    width: 50px;
    height: 45px;
    border: 1px solid;
    border-radius: 20%;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.685);
    color: rgba(0, 24, 52, 0.653);
    font-size: 30px;
}
.buttonPop{
    display: flex;
    justify-content: right;
    color: white;
}