/* ============================== global styles ====================================================== */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #3d50db;
}
/* ============================== Header ====================================================== */
.header {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 1100;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.header.scrolled {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  animation: slideDown 0.4s ease forwards;
  position: fixed;
}
.header.scrolled li,
.header.scrolled i {
  color: #111;
}
.header li,
.header i {
  color: #333;
}
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  margin: 0px 172px;
  padding-top: 25px;
}
.header.scrolled .nav {
  padding-bottom: 25px;
}
.nav > a {
  margin: 0px 55px 0px 0px;
}
.nav_main_menu {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.nav_icons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.nav_icons > div {
  padding: 0px 11px 0px 22px;
}
.fa-regular,
.fa-solid {
  font-size: 26px;
  color: #333;
}

.nav_main_menu > li {
  display: block;
  position: relative;
  padding: 20px 10px 20px 0px;
  margin: 0px 4px 0px 14px;
  list-style-type: none;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.theme-toggle {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.theme-toggle:hover {
  transform: rotate(20deg);
}
/* ============================== Hero Section ====================================================== */
.hero {
  min-height: 100vh;
  position: relative;
  padding: 0 8%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  gap: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  overflow-x: hidden; 
}
.hero-content {
  position: relative;
  z-index: 2;
  color: #fff;
}
.hero h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 71px;
  color: #333;
  line-height: 1.1;
}
.hero p {
  font-size: 60px;
  line-height: 1.1;
  color: #333;
  font-family: "Playfair Display", serif;
  margin: 20px 0 30px;
  margin-left: 71px;
  font-weight: 800;
  max-width: 400px;
}
.hero a {
  padding: 14px 36px;
  background: #111;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
  margin-left: 71px;
}
.hero a:hover {
  background: #717fe0;
  transform: translateY(-3px);
}
.hero img {
  max-width: 100%;
  width: auto;
  height: auto;
  animation: float 4s ease-in-out infinite;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
  }

  .hero p {
    margin: 0 auto 30px;
  }
}

.hero-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
  z-index: 5;
}

.hero-arrow.left {
  left: 30px;
}

.hero-arrow.right {
  right: 30px;
}

.hero:hover .hero-arrow {
  opacity: 1;
}
.hero-title,
.hero-text,
.hero-btn {
  opacity: 0;
}

.animate-title {
  animation: slideDown 0.8s ease forwards;
}

.animate-text {
  animation: slideUp 0.8s ease forwards;
  animation-delay: 0.3s;
}

.animate-btn {
  animation: slideUp 0.8s ease forwards;
  animation-delay: 0.6s;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ============================== Hero Section ====================================================== */
/* ============================== hero cards Header ============================== */
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 30px;
  margin: 50px 140px 0 160px;
}
.category-card {
  position: relative;
  height: 260px;
  overflow: hidden;
  border: 1px solid #ddd;
}
.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.content {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
  color: #000;
}
.content h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
  padding-right: 60px;
}
.category-card:hover .content h2,
.category-card:hover .content p {
  color: #fff;
}
.content p {
  font-size: 14px;
  color: #555;
}
.hover-layer {
  position: absolute;
  inset: 0;
  background: rgba(120, 135, 220, 0.8);
  display: flex;
  align-items: flex-end;
  padding: 40px;
  opacity: 0;
  transition: 0.4s ease;
}
.category-card:hover .hover-layer {
  opacity: 1;
}
.hover-layer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
/* ============================== hero cards Heade r============================== */

/* ============================== Footer ====================================================== */
footer {
  width: 100%;
  background-color: #222;
  margin-top: 50px;
  padding-bottom: 32px;
  padding-top: 75px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #666666;
}
.footer_container {
  margin: 4px 175px;
}
.footer_container_rows {
  display: flex;
  justify-content: space-between;
}
.footer_row {
  width: 25%;
  padding-bottom: 50px;
}
.footer_row h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 30px;
}
.footer_row ul {
  list-style-type: none;
  padding-left: 2rem;
}
.footer_row ul li {
  padding-bottom: 18px;
  color: #b2b2b2;
}
.footer_row_three p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 1.923;
  color: #b2b2b2;
}
.footer_row_three_icons {
  padding-top: 27px;
}
.footer_row_three_icons a {
  text-decoration: none;
  color: #b2b2b2;
  font-size: 20px;
  margin-right: 15px;
}
.footer_row_four_input {
  position: relative;
  border-bottom: 2px solid rgba(204, 204, 204, 0.1);
  padding-bottom: 4px;
  width: 100%;
}
.footer_row_four_input input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 13px;
  line-height: 1.923;
  padding-bottom: 6px;
}
.footer_row_four_input input::placeholder {
  color: #b2b2b2;
}
.footer_row_four_button {
  padding-top: 18px;
}
.footer_row_four_button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #717fe0;
  height: 44px;
  border-radius: 23px;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  cursor: pointer;
}
.footer_row_four,
.footer_row_three {
  padding-left: 10px;
}
.footer_row_four {
  padding-left: 20px;
}
/* ========================== responsive ================================================= */
@media (max-width: 1024px) {
  .hero {
    padding: 0 24px;
  }
  .hero h1,
  .hero p,
  .hero a {
    margin-left: 0;
  }
  .nav {
    margin: 0;
    padding: 0 24px;
  }

  .nav_icons {
    width: auto;
  }

  .categories {
    margin: 40px 24px 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_container {
    margin: 0;
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .nav {
    margin: 0 20px;
    padding: 0 16px;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    padding: 0 16px;
    gap: 20px;
  }
  .hero-content {
    align-items: center;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 38px;
    max-width: 100%;
  }
  .footer_container_rows {
    flex-direction: column;
  }

  .footer_row {
    width: 100%;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .hero a {
    margin: 0 auto;
  }

  .hero-arrow {
    display: none;
  }

  .nav_main_menu {
    display: none;
  }

  .nav_icons {
    width: auto;
  }
}
@media (max-width: 600px) {
  .categories {
    margin: 20px 16px 0;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .hero {
    gap: 10px;
    justify-content:center;
  }
  .hero h1 {
    font-size: 22px;
  }

  .hero p {
    font-size: 28px;
  }
}
html,
body {
  overflow-x: hidden;
}
/* ====================== Dark Mode ====================== */
body.dark {
  background-color: #111;
  color: #eee;
}

body.dark .header.scrolled {
  background-color: rgba(17, 17, 17, 0.95);
}

body.dark .nav_main_menu li,
body.dark .nav_icons i, body.dark .nav ul li a {
  color: #eee;
}
body.dark .hero h1,
body.dark .hero p {
  color: #fff;
}
body.dark .content h2,
body.dark .content p {
  color: #fff;
}
body.dark footer, body.dark header, body.dark .hero {
  background-color: #111;
}
body.dark footer,
body.dark footer p,
body.dark footer li {
  color: #aaa;
}
body.dark footer {
  border-top: solid 1px #fff;
}
