body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f5f5f5;
  color:#111;
}

header{
  padding:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#1f2937;
  color:#22d3ee;
}

.cart-icon-container{
  position:relative;
  cursor:pointer;
}

#cartCount{
  position:absolute;
  top:-10px;
  right:-10px;
  background:#ef4444;
  color:white;
  width:20px;
  height:20px;
  border-radius:50%;
  text-align:center;
  line-height:20px;
  font-size:12px;
}



.slide{
  min-width:300px;
  background:#fff;
  border-radius:15px;
  padding:15px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.slide img{
  width:100%;
  border-radius:10px;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  /* padding:20px; */
}

.product{
  background:#fff;
  padding:20px;
  border-radius:15px;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.product img{
  width:100%;
  border-radius:10px;
}

.product button{
  margin-top:10px;
  width:100%;
  background:#22d3ee;
  border:none;
  padding:10px;
  cursor:pointer;
  border-radius:10px;
  color:white;
  font-weight:bold;
  transition: 0.3s ease-in-out;
}
.product button:hover{
  background: #020617;
  color: #22d3ee;
}

.side-cart{
  position:fixed;
  top:0;
  right:-400px;
  width:350px;
  height:100%;
  background:#fff;
  box-shadow:-4px 0 10px rgba(0,0,0,0.2);
  transition:0.3s;
  display:flex;
  flex-direction:column;
  z-index:999;
}

.side-cart.active{
  right:0;
}

.side-cart-header{
  padding:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#1f2937;
  color:white;
}

.side-cart-header .close{
  cursor:pointer;
  font-size:20px;
}

#sideCartItems{
  flex:1;
  overflow-y:auto;
  padding:10px 20px;
}

.cart-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
}

.cart-item img{
  width:60px;
  border-radius:8px;
}

.cart-item-info{
  flex:1;
  margin-left:10px;
}

.cart-item-info h4{
  margin:0 0 5px 0;
}

.qty-controls button, .remove-btn{
  padding:4px 8px;
  margin:0 2px;
  border:none;
  background:#22d3ee;
  color:white;
  cursor:pointer;
  border-radius:5px;
}

.side-cart-footer{
  padding:20px;
  border-top:1px solid #ccc;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.side-cart-footer button{
  padding:10px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:#1f2937;
  color:white;
  font-weight:bold;
}


.empty-cart{
  text-align:center;
  margin-top:50px;
}

.empty-cart button{
  margin-top:10px;
  background:#22d3ee;
  color:white;
  border:none;
  padding:8px 15px;
  border-radius:10px;
  cursor:pointer;
}
